/*********************************************************************************
stage 1  
***************/
.stge-1 {
	list-style: none;
	display: flex;
}
.stge-1 li {
	float: left;
	/* position:relative;*/
 	margin: 0 !important;
}
.stge-1 li a {
	display: block;
	text-decoration: none;
	zoom: 1;
	text-transform: uppercase;
	cursor:pointer;
	position:relative;
	overflow:hidden;
	font-weight:600;
	padding: 11px 15px;
	color: var(--nav-color);
	border-radius:3px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.stge-1 li.has a {
	position:relative
}
.stge-1 li.has > a:after {
	font-family: 'FontAwesome';
	color: var(--nav-color-has-after);
	margin-left:10px;
	text-align: center;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	content: "\f0d7    ";
	font-weight: normal;
}
.stge-1 li a:hover, .stge-1 li a.active {
	color: var(--nav-color-act);
	background:var(--nav-background-act)
}
.stge-1 li.has a:hover:after, .stge-1 li.has a.active:after {
	color: var(--nav-color-act);
}

.stge-1 .stge_div, .stge-1 .stge_div_common {
	position: absolute;
	width:100%;
	height:auto;
	max-height:400px;
	overflow: auto;
	background:#fff;
	top:100% ;
	left:0;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 5px 28px rgba(0, 0, 0, 0.2);
	display: none;
	z-index: 9;
}
.stge_div_common {
	width:200px!important;
	left:inherit!important;
}
.stge_div_common .stge-2_data {
	padding: 10px 15px 0 !important;
}
.stge_div_common .stge-2 li {
	float:none!important;
}
.stge_div_common .stge-2 li a { 
	border-bottom: 1px solid #eee;
	color:var(--nav-color)!important;
	padding:10px !important;
}
.stge_div_common .stge-2 li:last-child a {
	border:0;
}
.stge_div_common .stge-2 {
	-webkit-column-count: inherit;
	-moz-column-count: inherit;
	column-count: inherit;
}
.stge_div_common .stge-2 li a:after {
	background:#fff
}
.stge-1 li:hover .stge_div {
	display: block;
	-webkit-animation: animte-menu 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-animation: animte-menu 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@-webkit-keyframes animte-menu {
 0% {
opacity: 0;
-webkit-transform: translateY(-2em);
}
 100% {
opacity: 1;
-webkit-transform: translateY(0);
}
}
@-moz-keyframes animte-menu {
 0% {
opacity: 0;
-moz-transform: translateY(-2em);
}
 100% {
opacity: 1;
-moz-transform: translateY(0);
}
}
/*********************************************************************************
stage 2  
***************/
.stge-2_data {
	height:auto;
	width: 100%;
	overflow:hidden;
	padding:15px!important;
}
.stge-2 {
	list-style: none;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
	-webkit-column-rule: 1px solid #eee;
	-moz-column-rule: 1px solid #eee;
	column-rule: 1px solid #eee;
}
.stge-2 li {
	/*float:left;
	width: 23%;
	height: auto;
	font-size:13px;
	white-space:nowrap;
	margin-right:20px !important;*/ 
	float:none;
	width: auto;
	height: auto;
}
/*
 .stge-2 > li:nth-child(4n+1) {
clear: left;
}
.stge-2 > li:nth-child(4n+4) {
 margin-right:0px !important;
} old*/

.stge-2 li a {
	text-transform: uppercase;
	padding:2px 2px!important;
	background:#fff;
	color:#f79523!important;
	letter-spacing:inherit;
	font-weight:600;
	font-size:12px;
}
.stge-2 li a:hover {
	background:#eee!important;
}
/*********************************************************************************
stage 3  
***************/
.stge-3 {
	margin:0px!important;
}
.stge-3 li {
	float:none;
	display:block;
	width:100%;
}
.stge-3 li a {
	font-weight:400;
	color:#2a2a2a!important;
}
.stge-3 li a:before {
	content: "\f068";
	font: normal normal normal 6px/1 FontAwesome;
	color: #fff;
	display: inline-block;
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	width:0;
}
.stge-3 li a:hover:before {
	opacity: 1;
	margin-right: 10px;
	width:5px;
	color:#ccc !important;
}
.stge-3 li a:hover {
}
 @media only screen and (min-width:320px) and (max-width:767px) {
}
@media only screen and (min-width:320px) and (max-width:991px) {
}
@media only screen and (min-width:992px) and (max-width:1199px) {
}
