/*popup display*/
.bg_overlay {
 width: 100%;
 background: rgba(0, 0, 0, 0.3);
 position: fixed;
 top: 0px;
 bottom: 0px;
 left: 0px;
 right: 0px;
 z-index: 999999999;
}
.bg_content {
width: 95%;
 max-width: 750px;  
 position: absolute;
 margin-right: -50%;
 top: 50%;
 left: 50%;
 margin-bottom: -50%;
 transform: translate(-50%, -50%);
 z-index: 9999;  
}
.bg_col{ 
	max-height: 90vh;
	overflow: auto; 
 }
 
.bg_content img {
 width: 100%;
}
.pclose {
    background: #f98e1f;
    color: #fff !important;
    padding: 0px 5px 0px;
    top: -15px;
    right: -15px;
    display: block;
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    line-height: 25px;
	z-index: 99999999;
    text-decoration: navajowhite; 
}
.pclose:hover {
 background:#666;
}

/*info popup ***********************/
.info-msg {
	max-width: 550px;
	padding: 0 0 15px;
	border: 0; 
} 
.info-msg div{ 	
	background:#fff;  
	overflow: hidden;
	padding-bottom: 20px;	 
}
.info-msg h4 {
	text-align: left;
	margin: 0;
	padding: 10px 10px 10px 15px!important;
	background:linear-gradient(90deg, #7b3dae 0%, #e16ac9 50%);
	color: #fff;
	text-transform: uppercase;
 
}
.info-msg p {
	text-align: justify; 
	padding: 15px 15px 0 15px!important;
	margin-botttom:5px!important	;font-size: 14px !important;
}
.info-msg .pclose {
	background: #489aca	;
	color: #fff !important;
	padding: 10px 20px;
	cursor: pointer;
	float:right;
	margin: 10px  15px 0px  0!important;
	border-radius:3px;position: static!important;
    font-size: 13px;
}
.info-msg .pclose:hover {
	background:  #000!important;
}